In [1]:
import pandas as pd
import numpy as np

In [10]:
df18=pd.read_csv('./City_Service_Requests_in_2018.csv')

In [11]:
df17=pd.read_csv('./City_Service_Requests_in_2017.csv')

/anaconda3/envs/dsi/lib/python3.6/site-packages/IPython/core/interactiveshell.py:2785: DtypeWarning: Columns (14) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [12]:
df16=pd.read_csv('./City_Service_Requests_in_2016.csv')

In [13]:
df15=pd.read_csv('./City_Service_Requests_in_2015.csv')

/anaconda3/envs/dsi/lib/python3.6/site-packages/IPython/core/interactiveshell.py:2785: DtypeWarning: Columns (14) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [14]:
df14=pd.read_csv('./City_Service_Requests_in_2014.csv')

/anaconda3/envs/dsi/lib/python3.6/site-packages/IPython/core/interactiveshell.py:2785: DtypeWarning: Columns (28) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

Index(['X', 'Y', 'OBJECTID', 'SERVICECODE', 'SERVICECODEDESCRIPTION',
       'SERVICETYPECODEDESCRIPTION', 'ORGANIZATIONACRONYM', 'SERVICECALLCOUNT',
       'ADDDATE', 'RESOLUTIONDATE', 'SERVICEDUEDATE', 'SERVICEORDERDATE',
       'INSPECTIONFLAG', 'INSPECTIONDATE', 'INSPECTORNAME',
       'SERVICEORDERSTATUS', 'STATUS_CODE', 'SERVICEREQUESTID', 'PRIORITY',
       'STREETADDRESS', 'XCOORD', 'YCOORD', 'LATITUDE', 'LONGITUDE', 'CITY',
       'STATE', 'ZIPCODE', 'MARADDRESSREPOSITORYID', 'WARD', 'DETAILS'],
      dtype='object')

array([ True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True])

In [20]:
df=pd.concat([df18, df17, df16, df15, df14])

In [21]:
df.columns

Index(['X', 'Y', 'OBJECTID', 'SERVICECODE', 'SERVICECODEDESCRIPTION',
       'SERVICETYPECODEDESCRIPTION', 'ORGANIZATIONACRONYM', 'SERVICECALLCOUNT',
       'ADDDATE', 'RESOLUTIONDATE', 'SERVICEDUEDATE', 'SERVICEORDERDATE',
       'INSPECTIONFLAG', 'INSPECTIONDATE', 'INSPECTORNAME',
       'SERVICEORDERSTATUS', 'STATUS_CODE', 'SERVICEREQUESTID', 'PRIORITY',
       'STREETADDRESS', 'XCOORD', 'YCOORD', 'LATITUDE', 'LONGITUDE', 'CITY',
       'STATE', 'ZIPCODE', 'MARADDRESSREPOSITORYID', 'WARD', 'DETAILS'],
      dtype='object')

In [22]:
df.head()

,X,Y,OBJECTID,SERVICECODE,SERVICECODEDESCRIPTION,SERVICETYPECODEDESCRIPTION,ORGANIZATIONACRONYM,SERVICECALLCOUNT,ADDDATE,RESOLUTIONDATE,...,XCOORD,YCOORD,LATITUDE,LONGITUDE,CITY,STATE,ZIPCODE,MARADDRESSREPOSITORYID,WARD,DETAILS
0,-77.017424,38.943390,308864,S05SL,Streetlight Repair Investigation,Transportation Operations Administration,DDOT,1,2018-01-02T11:19:40.000Z,2018-01-03T20:28:07.000Z,...,398489.710000,141721.240000,38.943383,-77.017422,WASHINGTON,DC,20011.0,248119.0,4,NaN
1,-77.023320,38.926455,308865,EMNPV,Emergency No-Parking Verification,PEMA- Parking Enforcement Management Administr...,DPW,1,2018-01-03T16:02:18.000Z,2018-01-03T19:24:34.000Z,...,397978.100000,139841.390000,38.926447,-77.023318,WASHINGTON,DC,20001.0,232544.0,1,"DPW Officer observed location, signs posted."
2,-76.977985,38.889474,308866,S0261,Parking Enforcement,PEMA- Parking Enforcement Management Administr...,DPW,1,2018-01-03T18:03:59.000Z,2018-01-03T19:52:35.000Z,...,401910.160000,135736.250000,38.889467,-76.977983,WASHINGTON,DC,20003.0,55281.0,6,dpw officer observed alley way and issued 1 ti...
3,-77.031953,38.917006,308867,HYPSHEIN,Hypothermia Shelter Information,311- Call Center,OUC,1,2018-01-03T18:40:16.000Z,2018-01-03T18:40:16.000Z,...,397229.130011,138792.679998,38.916998,-77.031951,NaN,NaN,20009.0,903573.0,NaN,NaN
4,-77.028876,38.924511,308868,S0261,Parking Enforcement,PEMA- Parking Enforcement Management Administr...,DPW,1,2018-01-03T18:09:57.000Z,2018-01-03T18:49:01.000Z,...,397496.260000,139625.720000,38.924503,-77.028874,WASHINGTON,DC,20009.0,231872.0,1,NaN

In [26]:
df=df[df['SERVICECODEDESCRIPTION']=='Residential Parking Permit Violation']

In [27]:
df.to_pickle('./res_parking_permit_violations')