In [150]:

import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from haversine import haversine
from sklearn.model_selection import train_test_split
np.random.seed(42)
import scipy.stats as stats
import seaborn as sns
import re
from sklearn.preprocessing import StandardScaler
from datetime import timedelta  
from pandas.tseries.holiday import USFederalHolidayCalendar as calendar

from matplotlib import rcParams
rcParams.update({'figure.autolayout':True})

plt.style.use(["presentation"])

%matplotlib inline

In [151]:
df1=pd.read_pickle('./res_parking_permit_violations')

In [152]:
df2=pd.read_csv('./Residential_Parking_Permit_Blocks.csv')

In [153]:
features=['OBJECTID', 'SERVICECODEDESCRIPTION', 'ADDDATE', 'RESOLUTIONDATE', 'STREETADDRESS',
          'LATITUDE', 'LONGITUDE', 'ZIPCODE', 'WARD', 'DETAILS']

In [154]:
# Creating a smaller version of the dataframe with just the features that might be useful

df_short=df1[features]
df_short = df_short.copy()

# A. Create some initial date-related features

In [155]:
# Converting dates to Pandas Date-Time Format

df_short['ADDDATE']=df_short['ADDDATE'].map(pd.to_datetime)
df_short['RESOLUTIONDATE']=df_short['RESOLUTIONDATE'].map(pd.to_datetime)

In [156]:
trial=df_short['ADDDATE'][58]

In [157]:
trial.date

In [158]:
# Date ticket issued

df_short['date']=df_short['ADDDATE'].map(lambda x : x.date)

In [159]:
# Day of week ticket issued

df_short['day_of_week']=df_short['ADDDATE'].map(lambda x : x.weekday_name)

In [160]:
# Year ticket issued

df_short['year']=df_short['ADDDATE'].map(lambda x : x.year)

In [161]:
# Month parking violation occurred

df_short['month']=df_short['ADDDATE'].map(lambda x : x.month)

In [162]:
# Time in minutes to resolve complaint

df_short['resolvetime']=(df_short['RESOLUTIONDATE']-df_short['ADDDATE']).astype('timedelta64[m]')

# B. Bin observations by block

In [163]:
# Code from Ben



import re

def get_address_block(address):
    try:
        m = re.findall('(\d+\s)', address)
        return(np.mean([float(x.strip()) for x in m]))
    except:
        return(np.nan)

df_short['BLOCKNUM']=df_short['STREETADDRESS'].apply(get_address_block)

# Code from Ben ends here

def round_address_block(address):
    try:
        address=address/100
        address=np.round(address,0)
        address=int(address*100)
        return address
    except:
        return(np.nan)

df_short['BLOCKNUM']=df_short['BLOCKNUM'].map(round_address_block)

/anaconda3/envs/dsi/lib/python3.6/site-packages/numpy/core/fromnumeric.py:2957: RuntimeWarning: Mean of empty slice.
  out=out, **kwargs)

In [164]:
def get_street_name(address):
    try:
        m1=address.replace("BLOCK OF","")
        m2=re.findall('([0-9]+[TH|ST|RD]+|[A-Z]+)', m1)
        return " ".join(m2)
    except:
        return (np.nan)

df_short['STREET']=df_short['STREETADDRESS'].apply(get_street_name)

In [165]:
df_short=df_short.dropna(subset=['BLOCKNUM', 'STREET'])

In [166]:
df_short=df_short.copy()

In [167]:
df_short['GEOBIN']=df_short['BLOCKNUM'].apply(lambda x: str(int(x)))

In [168]:
df_short['GEOBIN']=df_short['GEOBIN'].apply(lambda x: x+ " BLOCK ")

In [169]:
df_short['BLOCK']=df_short['GEOBIN']+df_short['STREET']

# C. A few observations about the blocks

In [170]:
# Here's the list of the blocks and the number of citations issued

df_short['BLOCK'].value_counts(normalize=True)[0:50]

1400 BLOCK CRITTENDEN STREET NW       0.016447
200 BLOCK 3RD STREET NE               0.015131
1600 BLOCK KRAMER STREET NE           0.012603
1200 BLOCK U STREET SE                0.010907
0 BLOCK BATES STREET NW               0.009591
1300 BLOCK I STREET NE                0.009314
1500 BLOCK OLIVE STREET NE            0.008725
4500 BLOCK CLARK PLACE NW             0.008310
600 BLOCK 24TH STREET NE              0.007756
6200 BLOCK ND STREET NW               0.007098
900 BLOCK 6TH STREET NE               0.006856
2200 BLOCK KEARNY STREET NE           0.006683
500 BLOCK 24TH STREET NE              0.006440
500 BLOCK E STREET NE                 0.005678
2000 BLOCK 4TH STREET NE              0.005367
500 BLOCK 5TH STREET NE               0.005228
1200 BLOCK D STREET SE                0.005194
0 BLOCK N STREET SW                   0.005090
5300 BLOCK DANA PLACE NW              0.005021
1400 BLOCK KENNEDY STREET NW          0.004986
600 BLOCK 14TH STREET NE              0.004397
900 BLOCK VARNUM STREET NE            0.004363
100 BLOCK THOMAS STREET NW            0.004363
1400 BLOCK HALF STREET SW             0.004328
1600 BLOCK OLIVE STREET NE            0.004120
1700 BLOCK NEW HAMPSHIRE AVENUE NW    0.003913
1100 BLOCK W STREET NW                0.003843
1100 BLOCK I STREET NE                0.003843
600 BLOCK M STREET NE                 0.003843
600 BLOCK G STREET NE                 0.003739
8200 BLOCK EASTERN AVENUE NW          0.003670
600 BLOCK ELMIRA STREET SE            0.003497
5200 BLOCK 4TH STREET NE              0.003462
700 BLOCK F STREET NE                 0.003393
300 BLOCK ATLANTIC STREET SE          0.003393
600 BLOCK STREET NW                   0.003359
5300 BLOCK ILLINOIS AVENUE NW         0.003185
400 BLOCK G STREET NE                 0.003151
3600 BLOCK ORDWAY STREET NW           0.003151
1500 BLOCK SWANN STREET NW            0.003151
0 BLOCK QUINCY PLACE NE               0.003082
300 BLOCK 5TH STREET NE               0.003082
2400 BLOCK E STREET NE                0.003082
0 BLOCK HANOVER PLACE NW              0.002943
2800 BLOCK 6TH STREET NE              0.002943
3500 BLOCK ALBEMARLE STREET NW        0.002908
200 BLOCK NICHOLSON STREET NE         0.002908
200 BLOCK EAST CAPITOL STREET NE      0.002908
400 BLOCK 5TH STREET NE               0.002874
1600 BLOCK A STREET NE                0.002839
Name: BLOCK, dtype: float64

In [171]:
# Here, for example, is a count of citations on Sunday, by contrast

df_short.loc[df_short['day_of_week']=='Sunday']['BLOCK'].value_counts()[0:50]

1500 BLOCK SWANN STREET NW          13
100 BLOCK SEATON PLACE NW            7
900 BLOCK T STREET NW                6
1200 BLOCK E STREET SE               6
1400 BLOCK SWANN STREET NW           6
1600 BLOCK 11TH STREET NW            6
1100 BLOCK W STREET NW               5
1700 BLOCK 9TH STREET NW             4
1500 BLOCK MARION STREET NW          3
1400 BLOCK HALF STREET SW            3
1300 BLOCK R STREET NW               3
900 BLOCK P STREET NW                2
1500 BLOCK 1ST STREET SW             2
1500 BLOCK QUEEN STREET NE           2
5100 BLOCK SOUTHERN AVENUE SE        2
1300 BLOCK SIMMS PLACE NE            2
1500 BLOCK S STREET SE               2
3200 BLOCK 13TH STREET NW            2
1000 BLOCK GIRARD STREET NW          2
700 BLOCK 7TH STREET SW              2
900 BLOCK 7TH STREET SW              2
900 BLOCK O STREET NW                2
1300 BLOCK Q STREET NW               2
1300 BLOCK DELAFIELD PLACE NW        2
200 BLOCK 3RD STREET NE              2
7200 BLOCK 15TH PLACE NW             1
800 BLOCK 50TH PLACE NE              1
2200 BLOCK T PLACE SE                1
1600 BLOCK NEWTON STREET NW          1
2600 BLOCK QUEENS CHAPEL ROAD NE     1
2000 BLOCK FORT DAVIS STREET SE      1
3900 BLOCK 7TH STREET NE             1
1600 BLOCK 6TH STREET NW             1
3700 BLOCK DAVIS STREET NW           1
1400 BLOCK S STREET NW               1
100 BLOCK 9TH STREET NE              1
1100 BLOCK Q STREET NW               1
1400 BLOCK 10TH STREET NW            1
400 BLOCK 13TH STREET NE             1
200 BLOCK 35TH STREET NE             1
1600 BLOCK KRAMER STREET NE          1
200 BLOCK VAN BUREN STREET NW        1
100 BLOCK 35TH STREET SE             1
4600 BLOCK CONNECTICUT AVENUE NW     1
3900 BLOCK CLAY PLACE NE             1
100 BLOCK U STREET NE                1
200 BLOCK NICHOLSON STREET NE        1
500 BLOCK T STREET NW                1
4600 BLOCK 7TH STREET NW             1
1200 BLOCK W STREET NW               1
Name: BLOCK, dtype: int64

In [174]:
# Here, for example, is a count of citations in 2017

df_short.loc[df_short['year']==2017]['BLOCK'].value_counts()[0:50]

1200 BLOCK D STREET SE                126
1200 BLOCK U STREET SE                116
200 BLOCK 3RD STREET NE               111
600 BLOCK 24TH STREET NE              110
1500 BLOCK OLIVE STREET NE            105
900 BLOCK 6TH STREET NE               105
1400 BLOCK CRITTENDEN STREET NW        87
1700 BLOCK NEW HAMPSHIRE AVENUE NW     79
2200 BLOCK KEARNY STREET NE            77
500 BLOCK 24TH STREET NE               75
2400 BLOCK E STREET NE                 66
4500 BLOCK CLARK PLACE NW              63
900 BLOCK VARNUM STREET NE             62
0 BLOCK BATES STREET NW                60
1600 BLOCK OLIVE STREET NE             60
1300 BLOCK I STREET NE                 57
1600 BLOCK KRAMER STREET NE            56
300 BLOCK 5TH STREET NE                50
1200 BLOCK SAVANNAH PLACE SE           44
1700 BLOCK 14TH STREET SE              43
0 BLOCK HANOVER PLACE NW               42
0 BLOCK N STREET SW                    40
1400 BLOCK HALF STREET SW              39
4600 BLOCK QUARLES STREET NE           37
800 BLOCK WEST VIRGINIA AVENUE NE      37
3600 BLOCK ORDWAY STREET NW            37
600 BLOCK M STREET NE                  35
1000 BLOCK BRYANT STREET NE            35
600 BLOCK ELMIRA STREET SE             34
900 BLOCK BARNABY STREET SE            33
500 BLOCK E STREET NE                  32
5200 BLOCK 4TH STREET NE               32
400 BLOCK G STREET NE                  32
5300 BLOCK ILLINOIS AVENUE NW          31
1400 BLOCK UNDERWOOD STREET NW         30
2700 BLOCK CENTRAL AVENUE NE           29
900 BLOCK 19TH STREET NE               29
300 BLOCK A STREET NE                  29
2000 BLOCK 4TH STREET NE               28
4600 BLOCK POLK STREET NE              27
1400 BLOCK RITTENHOUSE STREET NW       27
4300 BLOCK 15TH STREET NW              27
5100 BLOCK HAYES STREET NE             27
200 BLOCK EAST CAPITOL STREET NE       26
3500 BLOCK ALBEMARLE STREET NW         26
7100 BLOCK CHESTNUT STREET NW          26
300 BLOCK 8TH STREET SE                25
2600 BLOCK 11TH STREET NW              25
1400 BLOCK KENNEDY STREET NW           25
5300 BLOCK DANA PLACE NW               25
Name: BLOCK, dtype: int64

In [175]:
# Here, for example, is a count of citations on 2016

df_short.loc[df_short['year']==2016]['BLOCK'].value_counts()[0:50]

200 BLOCK 3RD STREET NE              159
4500 BLOCK CLARK PLACE NW            113
0 BLOCK BATES STREET NW              104
1300 BLOCK I STREET NE                98
1400 BLOCK CRITTENDEN STREET NW       88
500 BLOCK 5TH STREET NE               79
1200 BLOCK U STREET SE                76
1400 BLOCK KENNEDY STREET NW          69
0 BLOCK N STREET SW                   68
600 BLOCK STREET NW                   66
2000 BLOCK 4TH STREET NE              57
500 BLOCK 24TH STREET NE              56
500 BLOCK E STREET NE                 51
5300 BLOCK ILLINOIS AVENUE NW         50
900 BLOCK VARNUM STREET NE            45
1500 BLOCK OLIVE STREET NE            42
1100 BLOCK I STREET NE                42
2200 BLOCK KEARNY STREET NE           40
600 BLOCK INDEPENDENCE AVENUE SE      40
100 BLOCK THOMAS STREET NW            38
600 BLOCK G STREET NE                 37
600 BLOCK 24TH STREET NE              37
900 BLOCK 6TH STREET NE               35
1600 BLOCK KRAMER STREET NE           35
1500 BLOCK SWANN STREET NW            34
6200 BLOCK ND STREET NW               33
1400 BLOCK HALF STREET SW             32
1600 BLOCK OLIVE STREET NE            31
5200 BLOCK 4TH STREET NE              29
200 BLOCK C STREET NE                 28
1900 BLOCK IRVING STREET NE           26
8200 BLOCK EASTERN AVENUE NW          26
3600 BLOCK ORDWAY STREET NW           26
600 BLOCK M STREET NE                 25
5300 BLOCK DANA PLACE NW              25
400 BLOCK 5TH STREET NE               25
1500 BLOCK VAN BUREN STREET NW        24
800 BLOCK WEST VIRGINIA AVENUE NE     24
200 BLOCK EAST CAPITOL STREET NE      24
700 BLOCK 5TH STREET NE               23
5100 BLOCK HAYES STREET NE            22
1300 BLOCK LEEGATE ROAD NW            22
1100 BLOCK ORREN STREET NE            21
500 BLOCK NEWTON PLACE NW             21
3500 BLOCK ALBEMARLE STREET NW        21
200 BLOCK MARYLAND AVENUE NE          21
700 BLOCK F STREET NE                 20
1300 BLOCK D STREET NE                20
1500 BLOCK 1ST STREET NW              20
1100 BLOCK 5TH STREET NE              19
Name: BLOCK, dtype: int64