In [57]:

import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from haversine import haversine
from sklearn.model_selection import train_test_split
np.random.seed(42)
import scipy.stats as stats
import seaborn as sns
import re
from sklearn.preprocessing import StandardScaler
from datetime import timedelta  
from pandas.tseries.holiday import USFederalHolidayCalendar as calendar
import math

from matplotlib import rcParams
rcParams.update({'figure.autolayout':True})

plt.style.use(["presentation"])

%matplotlib inline

In [58]:
df1=pd.read_pickle('./res_parking_permit_violations')

In [59]:
df2=pd.read_csv('./Residential_Parking_Permit_Blocks.csv')

In [60]:
features=['OBJECTID', 'SERVICECODEDESCRIPTION', 'ADDDATE', 'RESOLUTIONDATE', 'STREETADDRESS',
          'LATITUDE', 'LONGITUDE', 'ZIPCODE', 'WARD', 'DETAILS']

In [61]:
# Creating a smaller version of the dataframe with just the features that might be useful

df_short=df1[features]
df_short = df_short.copy()

# A. Create some initial date-related features

In [62]:
# Converting dates to Pandas Date-Time Format

df_short['ADDDATE']=df_short['ADDDATE'].map(pd.to_datetime)
df_short['RESOLUTIONDATE']=df_short['RESOLUTIONDATE'].map(pd.to_datetime)

In [63]:
trial=df_short['ADDDATE'][58]

In [64]:
trial.date

In [84]:
# Date ticket issued

df_short['date']=df_short['ADDDATE'].map(lambda x: x.strftime('%Y-%d-%m'))

In [66]:
# Day of week ticket issued

df_short['day_of_week']=df_short['ADDDATE'].map(lambda x : x.weekday_name)

In [67]:
# Year ticket issued

df_short['year']=df_short['ADDDATE'].map(lambda x : x.year)

In [68]:
# Month parking violation occurred

df_short['month']=df_short['ADDDATE'].map(lambda x : x.month)

In [106]:
# Time in minutes to resolve complaint

df_short['resolvetime']=(df_short['RESOLUTIONDATE']-df_short['ADDDATE']).astype('timedelta64[h]')

In [70]:
trial=df_short.loc[58,'ADDDATE']

# B. Bin observations by block

In [72]:
# Code from Ben



import re

def get_address_block(address):
    try:
        m = re.findall('(\d+\s)', address)
        return(np.mean([float(x.strip()) for x in m]))
    except:
        return(np.nan)

df_short['BLOCKNUM']=df_short['STREETADDRESS'].apply(get_address_block)

# Code from Ben ends here

def round_address_block(address):
    try:
        address=address/100
        address=int(address)
        address=address*100
        return address
    except:
        return(np.nan)

df_short['BLOCKNUM']=df_short['BLOCKNUM'].map(round_address_block)

/anaconda3/envs/dsi/lib/python3.6/site-packages/numpy/core/fromnumeric.py:2957: RuntimeWarning: Mean of empty slice.
  out=out, **kwargs)

In [73]:
def get_street_name(address):
    try:
        m1=address.replace("BLOCK OF","")
        m2=re.findall('([0-9]+[TH|ST|RD]+|[A-Z]+)', m1)
        return " ".join(m2)
    except:
        return (np.nan)

df_short['STREET']=df_short['STREETADDRESS'].apply(get_street_name)

In [74]:
df_short=df_short.dropna(subset=['BLOCKNUM', 'STREET'])

In [75]:
df_short=df_short.copy()

In [76]:
df_short['GEOBIN']=df_short['BLOCKNUM'].apply(lambda x: str(int(x)))

In [77]:
df_short['GEOBIN']=df_short['GEOBIN'].apply(lambda x: x+ " BLOCK ")

In [78]:
df_short['BLOCK']=df_short['GEOBIN']+df_short['STREET']

# C. A few observations about the blocks

In [79]:
# Here's the list of the blocks and the number of citations issued

df_short['BLOCK'].value_counts(normalize=True)[0:50]

1400 BLOCK CRITTENDEN STREET NW       0.016447
200 BLOCK 3RD STREET NE               0.015235
1600 BLOCK KRAMER STREET NE           0.014716
500 BLOCK 24TH STREET NE              0.014196
0 BLOCK BATES STREET NW               0.010249
1300 BLOCK I STREET NE                0.009314
1500 BLOCK OLIVE STREET NE            0.008725
4500 BLOCK CLARK PLACE NW             0.008310
2200 BLOCK KEARNY STREET NE           0.007860
6200 BLOCK ND STREET NW               0.007098
900 BLOCK 6TH STREET NE               0.006856
1200 BLOCK U STREET SE                0.006683
1400 BLOCK KENNEDY STREET NW          0.006094
500 BLOCK E STREET NE                 0.005678
2000 BLOCK 4TH STREET NE              0.005367
0 BLOCK N STREET SW                   0.005263
500 BLOCK 5TH STREET NE               0.005228
1200 BLOCK D STREET SE                0.005194
5300 BLOCK DANA PLACE NW              0.005021
100 BLOCK THOMAS STREET NW            0.004432
1100 BLOCK U STREET SE                0.004363
600 BLOCK 14TH STREET NE              0.004363
900 BLOCK VARNUM STREET NE            0.004363
1400 BLOCK HALF STREET SW             0.004224
1400 BLOCK SWANN STREET NW            0.004190
1600 BLOCK OLIVE STREET NE            0.004120
0 BLOCK QUINCY PLACE NE               0.004016
1700 BLOCK NEW HAMPSHIRE AVENUE NW    0.003982
600 BLOCK M STREET NE                 0.003843
600 BLOCK G STREET NE                 0.003843
1100 BLOCK I STREET NE                0.003843
1100 BLOCK W STREET NW                0.003843
8200 BLOCK EASTERN AVENUE NW          0.003670
3500 BLOCK ALBEMARLE STREET NW        0.003601
600 BLOCK ELMIRA STREET SE            0.003497
5200 BLOCK 4TH STREET NE              0.003462
300 BLOCK ATLANTIC STREET SE          0.003393
700 BLOCK F STREET NE                 0.003359
600 BLOCK STREET NW                   0.003359
1200 BLOCK HALF STREET SW             0.003220
5300 BLOCK ILLINOIS AVENUE NW         0.003185
400 BLOCK G STREET NE                 0.003151
3600 BLOCK ORDWAY STREET NW           0.003151
300 BLOCK 5TH STREET NE               0.003082
2400 BLOCK E STREET NE                0.003082
0 BLOCK HANOVER PLACE NW              0.002943
200 BLOCK NICHOLSON STREET NE         0.002943
2800 BLOCK 6TH STREET NE              0.002943
200 BLOCK EAST CAPITOL STREET NE      0.002908
400 BLOCK 5TH STREET NE               0.002874
Name: BLOCK, dtype: float64

In [80]:
# Here, for example, is a count of citations on Sunday, by contrast

df_short.loc[df_short['day_of_week']=='Sunday']['BLOCK'].value_counts()[0:50]

1400 BLOCK SWANN STREET NW          19
100 BLOCK SEATON PLACE NW            7
900 BLOCK T STREET NW                6
1600 BLOCK 11TH STREET NW            6
1200 BLOCK E STREET SE               6
1100 BLOCK W STREET NW               5
1700 BLOCK 9TH STREET NW             4
1500 BLOCK MARION STREET NW          3
1300 BLOCK R STREET NW               3
1300 BLOCK DELAFIELD PLACE NW        2
1000 BLOCK GIRARD STREET NW          2
200 BLOCK 3RD STREET NE              2
700 BLOCK 7TH STREET SW              2
1400 BLOCK HALF STREET SW            2
5100 BLOCK SOUTHERN AVENUE SE        2
900 BLOCK 7TH STREET SW              2
3200 BLOCK 13TH STREET NW            2
1200 BLOCK SIMMS PLACE NE            2
900 BLOCK P STREET NW                2
1300 BLOCK Q STREET NW               2
1500 BLOCK QUEEN STREET NE           2
1400 BLOCK S STREET SE               2
900 BLOCK O STREET NW                2
1600 BLOCK KRAMER STREET NE          2
1500 BLOCK 1ST STREET SW             2
1500 BLOCK S STREET SE               1
4500 BLOCK CONNECTICUT AVENUE NW     1
200 BLOCK NICHOLSON STREET NE        1
900 BLOCK A STREET SE                1
400 BLOCK T STREET NW                1
1600 BLOCK 29TH STREET SE            1
1100 BLOCK Q STREET NW               1
1200 BLOCK D STREET NE               1
800 BLOCK YUMA STREET SE             1
0 BLOCK P STREET SW                  1
2900 BLOCK YOST PLACE NE             1
1800 BLOCK 1ST STREET NW             1
400 BLOCK G STREET NE                1
2000 BLOCK FORT DAVIS STREET SE      1
1700 BLOCK 7TH STREET NW             1
1100 BLOCK 6TH STREET SW             1
800 BLOCK FERN PLACE NW              1
500 BLOCK 4TH STREET SW              1
1400 BLOCK 10TH STREET NW            1
5500 BLOCK 4TH STREET NE             1
3500 BLOCK DAVENPORT STREET NW       1
1700 BLOCK NEWTON STREET NW          1
100 BLOCK 9TH STREET NE              1
1100 BLOCK OWEN PLACE NE             1
600 BLOCK Q STREET NW                1
Name: BLOCK, dtype: int64

In [23]:
# Here, for example, is a count of citations in 2017

df_short.loc[df_short['year']==2017]['BLOCK'].value_counts()[0:50]

1200 BLOCK D STREET SE                126
1200 BLOCK U STREET SE                116
200 BLOCK 3RD STREET NE               111
600 BLOCK 24TH STREET NE              110
1500 BLOCK OLIVE STREET NE            105
900 BLOCK 6TH STREET NE               105
1400 BLOCK CRITTENDEN STREET NW        87
1700 BLOCK NEW HAMPSHIRE AVENUE NW     79
2200 BLOCK KEARNY STREET NE            77
500 BLOCK 24TH STREET NE               75
2400 BLOCK E STREET NE                 66
4500 BLOCK CLARK PLACE NW              63
900 BLOCK VARNUM STREET NE             62
1600 BLOCK OLIVE STREET NE             60
0 BLOCK BATES STREET NW                60
1300 BLOCK I STREET NE                 57
1600 BLOCK KRAMER STREET NE            56
300 BLOCK 5TH STREET NE                50
1200 BLOCK SAVANNAH PLACE SE           44
1700 BLOCK 14TH STREET SE              43
0 BLOCK HANOVER PLACE NW               42
0 BLOCK N STREET SW                    40
1400 BLOCK HALF STREET SW              39
4600 BLOCK QUARLES STREET NE           37
800 BLOCK WEST VIRGINIA AVENUE NE      37
3600 BLOCK ORDWAY STREET NW            37
1000 BLOCK BRYANT STREET NE            35
600 BLOCK M STREET NE                  35
600 BLOCK ELMIRA STREET SE             34
900 BLOCK BARNABY STREET SE            33
400 BLOCK G STREET NE                  32
5200 BLOCK 4TH STREET NE               32
500 BLOCK E STREET NE                  32
5300 BLOCK ILLINOIS AVENUE NW          31
1400 BLOCK UNDERWOOD STREET NW         30
900 BLOCK 19TH STREET NE               29
2700 BLOCK CENTRAL AVENUE NE           29
300 BLOCK A STREET NE                  29
2000 BLOCK 4TH STREET NE               28
4600 BLOCK POLK STREET NE              27
5100 BLOCK HAYES STREET NE             27
1400 BLOCK RITTENHOUSE STREET NW       27
4300 BLOCK 15TH STREET NW              27
200 BLOCK EAST CAPITOL STREET NE       26
7100 BLOCK CHESTNUT STREET NW          26
3500 BLOCK ALBEMARLE STREET NW         26
300 BLOCK 8TH STREET SE                25
1400 BLOCK KENNEDY STREET NW           25
2600 BLOCK 11TH STREET NW              25
5300 BLOCK DANA PLACE NW               25
Name: BLOCK, dtype: int64

In [24]:
# Here, for example, is a count of citations on 2016

df_short.loc[df_short['year']==2016]['BLOCK'].value_counts()[0:50]

200 BLOCK 3RD STREET NE              159
4500 BLOCK CLARK PLACE NW            113
0 BLOCK BATES STREET NW              104
1300 BLOCK I STREET NE                98
1400 BLOCK CRITTENDEN STREET NW       88
500 BLOCK 5TH STREET NE               79
1200 BLOCK U STREET SE                76
1400 BLOCK KENNEDY STREET NW          69
0 BLOCK N STREET SW                   68
600 BLOCK STREET NW                   66
2000 BLOCK 4TH STREET NE              57
500 BLOCK 24TH STREET NE              56
500 BLOCK E STREET NE                 51
5300 BLOCK ILLINOIS AVENUE NW         50
900 BLOCK VARNUM STREET NE            45
1500 BLOCK OLIVE STREET NE            42
1100 BLOCK I STREET NE                42
600 BLOCK INDEPENDENCE AVENUE SE      40
2200 BLOCK KEARNY STREET NE           40
100 BLOCK THOMAS STREET NW            38
600 BLOCK G STREET NE                 37
600 BLOCK 24TH STREET NE              37
1600 BLOCK KRAMER STREET NE           35
900 BLOCK 6TH STREET NE               35
1500 BLOCK SWANN STREET NW            34
6200 BLOCK ND STREET NW               33
1400 BLOCK HALF STREET SW             32
1600 BLOCK OLIVE STREET NE            31
5200 BLOCK 4TH STREET NE              29
200 BLOCK C STREET NE                 28
8200 BLOCK EASTERN AVENUE NW          26
1900 BLOCK IRVING STREET NE           26
3600 BLOCK ORDWAY STREET NW           26
600 BLOCK M STREET NE                 25
5300 BLOCK DANA PLACE NW              25
400 BLOCK 5TH STREET NE               25
200 BLOCK EAST CAPITOL STREET NE      24
800 BLOCK WEST VIRGINIA AVENUE NE     24
1500 BLOCK VAN BUREN STREET NW        24
700 BLOCK 5TH STREET NE               23
5100 BLOCK HAYES STREET NE            22
1300 BLOCK LEEGATE ROAD NW            22
3500 BLOCK ALBEMARLE STREET NW        21
200 BLOCK MARYLAND AVENUE NE          21
500 BLOCK NEWTON PLACE NW             21
1100 BLOCK ORREN STREET NE            21
1500 BLOCK 1ST STREET NW              20
1300 BLOCK D STREET NE                20
700 BLOCK F STREET NE                 20
1100 BLOCK 5TH STREET NE              19
Name: BLOCK, dtype: int64

In [28]:
resolution=df_short.groupby(by='BLOCK').mean()

In [30]:
resolution.sort_values(by='resolvetime')

,OBJECTID,LATITUDE,LONGITUDE,ZIPCODE,year,month,resolvetime,BLOCKNUM
BLOCK,,,,,,,,
1700 BLOCK NEWTON STREET NW,7.972600e+05,38.933986,-77.040751,20010.0,2015.000000,2.000000,0.000000,1700.0
5000 BLOCK 13TH STREET NW,9.302990e+05,38.950968,-77.029423,20011.0,2015.000000,5.000000,0.000000,5000.0
600 BLOCK 12TH STREET NE,1.560387e+06,38.898129,-76.990249,20002.0,2017.000000,3.000000,1.000000,600.0
3000 BLOCK EARL PLACE NE,1.635732e+06,38.928560,-76.963102,20018.0,2017.000000,6.000000,1.000000,3000.0
3800 BLOCK TUNLAW ROAD NW,1.795612e+06,38.925075,-77.077045,20007.0,2017.000000,11.000000,1.000000,3800.0
1500 BLOCK LONGFELLOW STREET NW,1.693085e+06,38.957282,-77.034926,20011.0,2017.000000,8.000000,1.000000,1500.0
2700 BLOCK N STREET NW,1.489113e+06,38.906711,-77.056382,20007.0,2016.000000,12.000000,1.000000,2700.0
3200 BLOCK 8TH STREET SE,6.240190e+05,38.843006,-76.994998,20032.0,2014.000000,6.000000,1.000000,3200.0
2400 BLOCK MINNESOTA AVENUE SE,1.565499e+06,38.873230,-76.971948,20020.0,2017.000000,3.000000,1.000000,2400.0
500 BLOCK 48TH PLACE NE,1.304169e+06,38.895333,-76.933870,20019.0,2016.000000,6.000000,2.000000,500.0
200 BLOCK RHODE ISLAND AVENUE NW,1.674124e+06,38.914836,-77.015384,20001.0,2017.000000,7.000000,2.000000,200.0
1900 BLOCK TRENTON PLACE SE,1.317406e+06,38.845345,-76.976371,20020.0,2016.000000,6.000000,3.000000,1900.0
2700 BLOCK MARTIN LUTHER KING JR AVENUE SE,1.660714e+06,38.853728,-76.995045,20032.0,2017.000000,6.000000,3.000000,2700.0
400 BLOCK 13TH STREET NE,1.262422e+06,38.895095,-76.988063,20002.0,2016.000000,3.000000,4.000000,400.0
0 BLOCK RHODE ISLAND AVENUE NW,1.821362e+06,38.916307,-77.009660,20001.0,2017.000000,11.000000,4.000000,0.0
4500 BLOCK 7TH STREET NE,1.367939e+06,38.945102,-76.997300,20017.0,2016.000000,10.000000,4.000000,4500.0
3500 BLOCK DAVENPORT STREET NW,1.775407e+06,38.952394,-77.068761,20008.0,2017.000000,10.000000,4.000000,3500.0
700 BLOCK CRITTENDEN STREET NW,8.430130e+05,38.947128,-77.023360,20011.0,2015.000000,3.000000,4.000000,700.0
2800 BLOCK ND STREET SE,1.687659e+06,38.848311,-77.005615,20032.0,2017.000000,7.000000,5.000000,2800.0
700 BLOCK 56TH PLACE NE,1.094617e+06,38.900104,-76.919898,20019.0,2016.000000,1.000000,5.000000,700.0
2300 BLOCK MASSACHUSETTS AVENUE NW,6.384140e+05,38.911775,-77.051193,20008.0,2014.000000,7.000000,6.000000,2300.0
5700 BLOCK 3RD STREET NW,1.170431e+06,38.959490,-77.016441,20011.0,2015.000000,11.000000,6.000000,5700.0
1700 BLOCK GALEN STREET SE,6.230610e+05,38.862516,-76.981048,20020.0,2014.000000,6.000000,6.000000,1700.0
400 BLOCK KENNEDY STREET NW,1.502338e+06,38.956270,-77.018416,20011.0,2017.000000,1.000000,8.000000,400.0
2800 BLOCK ELLICOTT STREET NW,3.137860e+05,38.953491,-77.057802,20008.0,2018.000000,1.000000,8.000000,2800.0
5200 BLOCK 13TH STREET NW,1.406331e+06,38.953421,-77.029976,20011.0,2016.000000,8.000000,9.000000,5200.0
2500 BLOCK TRACY PLACE NW,1.522749e+06,38.916704,-77.055444,20008.0,2017.000000,1.000000,9.000000,2500.0
1400 BLOCK FLORIDA AVENUE NE,9.730160e+05,38.900823,-76.986214,20002.0,2015.000000,7.000000,9.000000,1400.0
2800 BLOCK GAINESVILLE STREET SE,3.881250e+05,38.854946,-76.967457,20020.0,2018.000000,3.000000,9.000000,2800.0
1100 BLOCK 7TH STREET NW,1.702423e+06,38.904906,-77.021916,20001.0,2017.000000,8.000000,9.000000,1100.0
...,...,...,...,...,...,...,...,...
200 BLOCK ND STREET SE,9.311800e+05,38.886621,-77.003285,20003.0,2015.000000,5.000000,22977.000000,200.0
400 BLOCK GALLOWAY STREET NE,9.637233e+05,38.952635,-76.998110,20011.0,2015.000000,6.214286,23059.000000,400.0
300 BLOCK 16TH STREET NE,1.151668e+06,38.893886,-76.982362,20002.0,2016.400000,5.600000,26211.600000,300.0
0 BLOCK HAMILTON STREET NE,1.340302e+06,38.953439,-77.008339,20011.0,2016.454545,6.545455,26650.636364,0.0
3000 BLOCK DOUGLAS STREET NE,1.441027e+06,38.923475,-76.965887,20018.0,2016.875000,7.125000,36840.625000,3000.0
6300 BLOCK NORTH CAPITOL STREET,1.181332e+06,38.966879,-77.009046,20011.0,2015.666667,6.000000,94406.333333,6300.0
500 BLOCK EAST CAPITOL STREET SE,1.755835e+06,38.889489,-76.999144,20003.0,2017.000000,9.000000,124156.000000,500.0
400 BLOCK I STREET NE,8.178395e+05,38.901238,-76.999987,20002.0,2014.500000,7.000000,135700.500000,400.0
1200 BLOCK EASTERN AVENUE NE,9.809850e+05,38.906669,-76.927371,20019.0,2015.000000,7.000000,NaN,1200.0
1300 BLOCK KENNEDY STREET NW,8.234700e+05,38.956214,-77.031561,20011.0,2015.000000,3.000000,NaN,1300.0
1400 BLOCK OGDEN STREET NW,9.746190e+05,38.934626,-77.034185,20010.0,2015.000000,7.000000,NaN,1400.0
1500 BLOCK 7TH STREET NW,9.694090e+05,38.910384,-77.021917,20001.0,2015.000000,7.000000,NaN,1500.0
1500 BLOCK T STREET NW,8.366020e+05,38.915572,-77.035524,20009.0,2015.000000,3.000000,NaN,1500.0
1500 BLOCK WHITTIER STREET NW,8.287030e+05,38.970722,-77.034893,20012.0,2015.000000,3.000000,NaN,1500.0
2100 BLOCK CALIFORNIA STREET NW,9.568170e+05,38.916056,-77.047954,20008.0,2015.000000,6.000000,NaN,2100.0
2200 BLOCK SAVANNAH TERRACE SE,9.939310e+05,38.849369,-76.972685,20020.0,2015.000000,7.000000,NaN,2200.0
2300 BLOCK ASHMEAD PLACE NW,4.215600e+05,38.919354,-77.048471,20009.0,2018.000000,4.000000,NaN,2300.0
3000 BLOCK CLEVELAND AVENUE NW,7.385510e+05,38.923842,-77.058530,20008.0,2014.000000,10.000000,NaN,3000.0
3800 BLOCK MORRISON STREET NW,9.875220e+05,38.964199,-77.076718,20015.0,2015.000000,7.000000,NaN,3800.0
4300 BLOCK ALBEMARLE STREET NW,6.220990e+05,38.947688,-77.085662,20016.0,2014.000000,6.000000,NaN,4300.0
4400 BLOCK CONNECTICUT AVENUE NW,8.646770e+05,38.946949,-77.065607,20008.0,2015.000000,4.000000,NaN,4400.0
4400 BLOCK MACARTHUR BOULEVAR NW,7.384150e+05,38.907258,-77.082022,20007.0,2014.000000,10.000000,NaN,4400.0
500 BLOCK 3RD STREET,5.901220e+05,38.882644,-77.002271,20003.0,2014.000000,5.000000,NaN,500.0
500 BLOCK 4TH STREET,1.016716e+06,38.882987,-77.000764,20003.0,2014.000000,5.000000,NaN,500.0
5500 BLOCK 13TH STREET NW,1.053618e+06,38.957072,-77.029974,20011.0,2015.000000,4.000000,NaN,5500.0
5700 BLOCK CHEVY CHASE PARKWAY NW,7.932620e+05,38.966727,-77.072258,20015.0,2015.000000,2.000000,NaN,5700.0
600 BLOCK M STREET NW,9.701380e+05,38.905643,-77.020908,20001.0,2015.000000,6.000000,NaN,600.0
700 BLOCK CRITTENDEN STREET NE,8.380330e+05,38.947105,-76.995577,20017.0,2015.000000,4.000000,NaN,700.0
800 BLOCK E STREET NE,6.102500e+05,38.896314,-76.994530,20002.0,2014.000000,6.000000,NaN,800.0
900 BLOCK DELAWARE AVENUE SW,1.022714e+06,38.878837,-77.013115,20024.0,2014.000000,6.000000,NaN,900.0

In [87]:
import pandas as pd
from pandas.tseries.holiday import USFederalHolidayCalendar as calendar

dr = pd.date_range(start='2011-01-01', end='2018-12-31')

cal = calendar()
holidays = cal.holidays(start=dr.min(), end=dr.max())

In [96]:
# of tickets issued by year.  2018 is incomplete

df_short['year'].value_counts()

2017    8166
2016    6482
2015    5790
2014    4332
2018    4111
Name: year, dtype: int64

In [97]:
# of incidents by month

df_short['month'].value_counts()

5     3151
4     2922
6     2856
3     2809
9     2466
8     2455
2     2239
10    2229
1     2127
7     2102
11    1781
12    1744
Name: month, dtype: int64

In [98]:
df.columns

Index(['Date', 'Holiday'], dtype='object')

In [105]:
df_short.loc['DETAILS']

KeyError: 'the label [DETAILS] is not in the [index]'